h1{
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}
div{
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    text-align: center;
}
html{
    background-color: black;
}
img{
    border: 5px solid white;
    width: 700px;
    height: 500px;
}
p{
    font-family: 'Libre Baskerville', serif;
}